
/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team {
     background: #fff;
   }
   
   .team .member {
     position: relative;
     box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.336);
     padding: 30px;
     border-radius: 10px;
     text-align: center;
   }
   
   .team .member .pic {
     overflow: hidden;
     width: 150px;
     border-radius: 50%;
     margin: 0 auto 20px auto;
   }
   
 
   
   .team .member h4 {
     font-weight: 700;
     margin-bottom: 5px;
     font-size: 20px;
     color: #494949;
   }
   
   .team .member span {
     display: block;
     font-size: 15px;
     padding-bottom: 10px;
     position: relative;
     font-weight: 500;
   }
   
   .team .member span::after {
     content: '';
     position: absolute;
     display: block;
     width: 50px;
     height: 1px;
     background: #b5b3ba;
     bottom: 0;
     left: 50%;
     transform: translateX(-50%);
   }
   
   .team .member p {
     margin: 10px 0 0 0;
     font-size: 14px;
   }
   
   .team .member .social {
     margin-top: 12px;
     display: flex;
     align-items: center;
     justify-content: center;
   }
   
   .team .member .social a {
     transition: ease-in-out 0.3s;
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 50px;
     width: 32px;
     height: 32px;
     background: #a8a5ae;
   }
   
   .team .member .social a i {
     color: #fff;
     font-size: 16px;
     margin: 0 2px;
   }
   
   .team .member .social a:hover {
     background: #0289e2;
   }
   
   .team .member .social a + a {
     margin-left: 8px;
   }
   
   
   
   
   
   
   
   