#recrut {
     width: 100%;
     height: 50vh;
     background: url("https://img.freepik.com/free-photo/closeup-diverse-people-joining-their-hands_53876-96081.jpg?t=st=1656496915~exp=1656497515~hmac=ec0ea9aac1cfa29b487c261787c7d801a27e121e1f2ef5097907ca33b31eb19c&w=1380") top center;
     background-size: cover;
     position: relative;
	
	
   }
   
   #recrut:before {
     content: "";
     background: rgba(0, 0, 0, 0.6);
     position: absolute;
     bottom: 0;
     top: 0;
     left: 0;
     right: 0;
   }
   
   #recrut .container {
     position: relative;
     padding-top: 74px;
     text-align: center;
   }
   
   #recrut h1 {
     margin: 0;
     font-size: 50px;
     font-weight: 700;
     line-height: 64px;
     color: #fff;
     font-family: "Poppins", sans-serif;
   }
   
   #recrut h1 span {
     color: #ffc107;
   }
   
   #recrut h2 {
     color: rgba(255, 255, 255, 0.9);
     margin: 10px 0 0 0;
    
     font-size: 29px;
   }
   
   #recrut .icon-box {
     padding: 30px 20px;
     transition: ease-in-out 0.3s;
     border: 1px solid rgba(255, 255, 255, 0.3);
     height: 100%;
     text-align: center;
   }
   
   #recrut .icon-box i {
     font-size: 32px;
     line-height: 1;
     color: #ffc451;
   }
   
   #recrut .icon-box h3 {
     font-weight: 700;
     margin: 10px 0 0 0;
     padding: 0;
     line-height: 1;
     font-size: 20px;
     line-height: 26px;
   }
   
   #recrut .icon-box h3 a {
     color: #fff;
     transition: ease-in-out 0.3s;
   }
   
   #recrut .icon-box h3 a:hover {
     color: #ffc451;
   }
   
   #recrut .icon-box:hover {
     border-color: #ffc451;
   }
   
   @media (min-width: 1024px) {
     #recrut {
       background-attachment: fixed;
	 
     }
   }
   
   @media (max-width: 768px) {
     #recrut {
       height: auto;
     }
     #recrut h1 {
	
       font-size: 28px;
       line-height: 36px;
	  margin-top: 70px;
     }
     #recrut h2 {
       font-size: 20px;
       line-height: 24px;
     }
   }


   #formrecruit{
     max-width: 110vh;
   }


  

  