#playingBox{
     box-shadow: 0px 0 20px 0 rgba(0, 0, 0, 0.1);
   cursor: pointer;
   background-color: #fff;
   width: 100%;

}

@media (min-width: 310px){
    #videobox{
        padding: 1.5vh;
        margin-top: 12vh
    }
    #thumbnail{
        height: 11vh
    }
}


@media (min-width: 360px){
    #videobox{
        padding: 3vh;
        margin-top: 10vh;
       
    }

    #thumbnail{
        height: 11vh
    }
}


@media (min-width: 570px){
    #videobox{
        padding: 5vh;
        margin-top: 8vh
    }

    #thumbnail{
        height: 16vh
    }
}





@media (min-width: 770px){
    #videobox{
        padding: 15vh;
        margin-top: -5px
    }

    #thumbnail{
        height: 18vh
    }
}


@media (min-width: 992px){


    #thumbnail{
        height: 10vh
    }
}



@media (min-width: 1160px){


    #thumbnail{
        height: 12.5vh
    }
}


@media (min-width: 1250px){


    #thumbnail{
        height: 14vh
    }
}