html {
  scroll-behavior: smooth;
}

body {
	font-family: "Open Sans", sans-serif;
	color: #444444;

   }

a {
  color: #ffc451;
  text-decoration: none;
}

a:hover {
  color: #ffd584;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif, monospace;
}









   /*Scrollbar*/
   /* width */
   ::-webkit-scrollbar {
    display: none;
    
  }
  
  /* Track */
  /* ::-webkit-scrollbar-track {
    background: #2e2e2e00;
  } */
  
  /* Handle */
  /* ::-webkit-scrollbar-thumb {
    background: rgb(207, 207, 207);
  }
   */
  /* Handle on hover */
  /* ::-webkit-scrollbar-thumb:hover {
    background: rgb(185, 185, 185);
  } */

/* Navbar */

@media (min-width: 992px){
  #headingnav{
    margin-top: 2px;
    border-radius: 5px
  
  }
  #navbarText{
    background-color: rgb(0,0,0,0,0);
  }
}

@media (max-width: 991px){
  #navbarText{
    background-color: black;
  }
}


.navbar{
  /*   z-index should be above .close-navbar-toggler */
    z-index:2;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
  }
  .close-navbar-toggler{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index:1;
    cursor:pointer;
  }
  .close-navbar-toggler.collapsed{
    z-index:-1;
  }